<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <form *ngIf="form" enctype="multipart/form-data" method="post">
    <!-- <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Option</label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose your Option</option>
          <option value="1">GL</option>
          <option value="2">TWIN</option>
          <option value="3">CLOUD</option>
        </select>
      </div>
    </div> -->
    <div class="row mb-3">
      <label for="inputNumber" class="col-sm-2 col-form-label">Marks</label>
      <div class="col-sm-10">
        <input class="form-control" (change)="onFileSelected($event.target,'attachments')" type="file" [(ngModel)]="candidacy.attachements" [ngModelOptions]="{standalone:true}">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputNumber" class="col-sm-2 col-form-label">B2 English</label>
      <div class="col-sm-10">
        <input class="form-control" (change)="onFileSelected($event.target,'B2Eng')" type="file"  [(ngModel)]="candidacy.B2Eng" [ngModelOptions]="{standalone:true}" >
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputNumber" class="col-sm-2 col-form-label">B2 French</label>
      <div class="col-sm-10">
        <input class="form-control" (change)="onFileSelected($event.target,'B2Fr')" type="file"  [(ngModel)]="candidacy.B2Fr" [ngModelOptions]="{standalone:true}">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="addCandidacy()">Send</button>
      </div>
    </div>

  </form>
</main>

