<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">


  <div class="card" *ngIf="role == 'ROLE_ADMIN'">
    <div class="card-body pt-3">
      <!-- Bordered Tabs -->
      <ul class="nav nav-tabs nav-tabs-bordered">

        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">All candidancy</button>
        </li>

        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Archived candidacy</button>
        </li>

      </ul>
      <div class="tab-content pt-2">

        <div class="tab-pane fade show active profile-overview" id="profile-overview">

          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">

                  <!-- Table with stripped rows-->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">Offer title</th>
                        <th scope="col">Marks</th>
                        <th scope="col">B2 English</th>
                        <th scope="col">B2 French</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let c of listCandidacy'>
                        <td>{{c.offer.title}}</td>
                        <td>{{c.marks}}</td>
                        <td>{{c.levelEng}}</td>
                        <td>{{c.levelFr}}</td>
                        <td class="badge bg-warning">{{c.status}}</td>
                        <td> <a (click)="deleteCandidancy(c.candidatureId)" style="color: #EC3636;" class="action-icon" data-toggle="tooltip" title="" data-original-title="Modifier l'utilisateur  ">
                          <i class="bi bi-archive"></i>
                        </a>
                        <a (click)="deleteCandidacyFromDb(c.candidatureId)" style="color: #EC3636;" class="action-icon" data-toggle="tooltip" title="" data-original-title="Modifier l'utilisateur  ">
                          <i class="bi bi-trash"></i>
                        </a>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows-->

                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">

                <!-- Table with stripped rows-->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">Offer title</th>
                      <th scope="col">Marks</th>
                      <th scope="col">B2 English</th>
                      <th scope="col">B2 French</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let candidacy of archivedlistCandidacy'>
                      <td>{{candidacy.offer.title}}</td>
                      <td>{{candidacy.marks}}</td>
                      <td>{{candidacy.levelEng}}</td>
                      <td>{{candidacy.levelFr}}</td>
                      <td class="badge bg-warning">{{candidacy.status}}</td>
                      <td>
                      <a (click)="RestoreCandidancy(candidacy.candidatureId)" style="color: #EC3636;" class="action-icon" data-toggle="tooltip" title="" data-original-title="Modifier l'utilisateur  ">
                        <i class="bi bi-arrow-counterclockwise"></i>
                      </a>
                      <a (click)="deleteCandidacyFromDb(candidacy.candidatureId)" style="color: #EC3636;" class="action-icon" data-toggle="tooltip" title="" data-original-title="Modifier l'utilisateur  ">
                        <i class="bi bi-trash"></i>
                      </a>
                    </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows-->

              </div>
            </div>

          </div>

        </div>



      </div><!-- End Bordered Tabs-->

    </div>
  </div>

  <div class="card" *ngIf="role == 'ROLE_STUDENT'" >
    <div class="card-body pt-3">
      <!-- Bordered Tabs -->
      <div class="tab-content pt-2">

        <div class="tab-pane fade show active profile-overview" id="profile-overview">

          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">

                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">Offer title</th>
                        <th scope="col">Marks</th>
                        <th scope="col">B2 English</th>
                        <th scope="col">B2 French</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor=' let candidacy of candidacies'>
                        <td>{{candidacy.offer.title}}</td>
                        <td>{{candidacy.marks}}</td>
                        <td>{{candidacy.levelEng}}</td>
                        <td>{{candidacy.levelFr}}</td>
                        <td class="badge bg-warning">{{candidacy.status}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->

                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">


              </div>
            </div>

          </div>

        </div>



      </div><!-- End Bordered Tabs -->

    </div>
  </div>
</main>

