<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">
  <div class="row">
    <div class="col-lg-6" *ngFor="let o of offers">
      <div class="card" style="display: flex; flex-wrap: wrap;" >
        <img src="assets/img/logooo.png" class="card-img-top " alt="..." style="width: 100px; height: 100px;margin-left: 5rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{o.title}}</h5>
          <p class="card-text">{{o.description}}</p>
          <div>
            <span><span style="font-weight: bolder; color:#012970">Field Of Study : </span> {{o.fieldOfStudy}}</span>
          </div>
          <div>
            <span><span style="font-weight: bolder; color:#012970">Price : </span> {{o.frais}}$</span>
          </div>
          <div>
            <span><span style="font-weight: bolder; color:#012970">Number of place : </span> {{o.nbPlace}}</span>
          </div>
          <div>
            <span><span style="font-weight: bolder; color:#012970">Deadline : </span> {{o.deadline}}</span>
          </div>

          <div class="d-flex align-items-center justify-content-center">
            <button *ngIf="role== 'ROLE_STUDENT'" style="background-color: #EC3636;" class="btn btn-primary" (click)="redirectToCandidacyForm(o.offerId)">Apply</button>
            <button *ngIf="role== 'ROLE_ADMIN'" style="background-color: #EC3636;" class="btn btn-primary" (click)="redirectTocandidacylist(o.offerId)" >View</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</main>
